<h5>header works!</h5>
<div class="container">
    <div class="header">
<div>
<button  routerLink="/emplist" class="btn btn-primary btn_pd">Employee-List</button>
<button  routerLink="/empupdate" class="btn btn-success btn_pd">Employee-Update</button>
<button routerLink="/routes" class="btn btn-primary btn_pd">Routes-Assignment</button> 
<button routerLink="/directive-pipe" class="btn btn-success btn_pd">Directive-Pipe</button>
 <button routerLink="/template" class="btn btn-secondary btn_pd">Template-Driven-Form</button>
<button routerLink="/template-validations" class="btn btn-success btn_pd">Template-Validations</button>
<button routerLink="/reactive-form" class="btn btn-secondary btn_pd">Reactive-Form</button> 
<button routerLink="/reactive-validations" class="btn btn-success btn_pd">Reactive-Validations</button>
<button routerLink="/password-validations" class="btn btn-secondary btn_pd">Password-Validations</button> 

</div>
<hr />
</div>
