<p>password-validations works!</p>
<section class="registration">
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
            <input type="text" class="input" placeholder="Username" name="username" formControlName="username">
            <div *ngIf="submitted && f.username.errors">
                <div class="text-danger" *ngIf="f.username.errors.required">User Name Is Required</div>
            </div>
            <input type="text" class="input" placeholder="Password" name="password" formControlName="password">
            <div *ngIf="submitted && f.password.errors">
                <div class="text-danger" *ngIf="f.password.errors.required">Password Is Required</div>
            </div>

            <input type="text" class="input" placeholder="ConfirmPassword" name="confirmpassword" formControlName="confirmpassword">
            <div *ngIf="submitted && f.confirmpassword.errors">
     <div class="text-danger" *ngIf="f.confirmpassword.errors.required">ConfirmPassword Is Required</div>
     <div class="text-danger" *ngIf="f.confirmpassword.errors.MustMatch">ConfirmPassword Should Match With Password</div>
            
            </div>
            <div class="text-center">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</section>