<p>emp-list works!</p>
<div class="container">
    <h1>Employees</h1>
        <table class="table">
            <thead >
                <tr class="table-dark">
                    <td>Employee ID</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Salary</td>
                    <td>DOB</td>
                    <td>Email</td>
                </tr>
            </thead>
           <!-- <tbody>
  
  <tr *ngFor="let emp of emplist" appColor>
                <td>{{emp.empid}}</td>
                <td>{{emp.empfname}}</td>
                <td>{{emp.emplname}}</td>
                <td>{{emp.empsalary}}</td>
                <td>{{emp.empdob | date }}</td>
                <td>{{emp.empemail}}</td>
            </tr>
           </tbody> -->
        </table>
</div>